<!doctype html>


<head>
    <title>Barcode</title>
    <meta charset=utf-8>
</head>

<body>
    {% if barcode_id == "" %}
        <h1>Please scan the barcode id</h1>
<!--        <form method="post">-->
<!--            <input type="text" name="barcode" autofocus>-->
<!--        </form>-->
    {% else %}
	    <p>Barcode: {{barcode_id}}</p>
        <button> <a href="{{ url_for('syringe_index') }}">redo</a></button>
        <button> <a href="/syringe/diluent/">next</a></button>

    {% endif %}



</body>