<!doctype html>
<head>
    <title>Finished</title>
    <meta charset=utf-8>
    <link rel=stylesheet type="text/css" href="/static/css/medical_bottle.css">
</head>

<body>
{#    <div style="float: right">識別碼: {{ request.cookies.get('username') }} </div>#}
    <h1 style="text-align: center; line-height: 20%;">
        針劑藥物辨識系統
    </h1>
    <hr>
    <h2 style="text-align: center;"> 已完成上傳 </h2>
{#    <hr>#}
{#    <button style="float:left; color: white; background-color: #f44336;" onclick="if(confirm('確認取消？')){window.location.href='{{ url_for('syringe_index') }}'}">取  消</button>#}
</body>