<!doctype html>
<head>
    <title>Add new medicine</title>
    <meta charset=utf-8>
    <link rel=stylesheet type="text/css" href="/static/css/medical_bottle.css">
    <script type="text/javascript" src="/static/js/jquery.min.js">
        function autoRefresh() {
            window.location.reload();
        }
    </script>
    <script>
        function tabSW(evt, tab_ID) {
            // 声明所有变量
            var i, tabcontent, tablinks;

            // 使用 class="tabcontent" 获取所有元素并隐藏它们
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // 获取所有带有 class="tablinks" 的元素并删除类 "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // 显示当前选项卡，并添加"活动"选项卡 类到打开选项卡的按钮
            document.getElementById(tab_ID).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                let alert_msg = "";
                {% for message in messages %}
                    alert_msg += "{{ message }}";
                {% endfor %}
                alert(alert_msg);
            </script>
        {% endif %}
    {% endwith %}

    {% if request.cookies.get('barcode_id') == 'None' %} {# barcode掃描按鈕 #}
        <div>
            <div class="tipicon">
                <h1 style="line-height: 20%;">
                    藥瓶條碼掃描
                    <sup><img style="font-size: 36px; width:1em;" src="/static/images/question_icon.png"></sup>
                </h1>
                <span class="tipicontext">
                    <font style="font-weight:bold;">藥瓶條碼掃描流程：</font>
                    <div style="margin-left: 1em;">
                        <ol>
                            <li>點擊頁面右下方<font style="background-color: #4CAF50">"下一步"</font>按鈕。 </li>
                            <li>前項操作完成後，會出現機器外觀圖示。 </li>
                            <li>找到機器，等待機器螢幕出現指示。 </li>
                            <li>按下條碼掃描器按鈕，開始掃描藥瓶條碼。 </li>
                        </ol>
                    </div>
                </span>
            </div>
            <hr>
            <div>
                *點擊<font style="background-color: #4CAF50">"下一步"</font>按鈕後開始掃描。
                <img style="width:100%;" src="/static/images/scanning.jpg"><br>
                <form method="post">
                    <input type="hidden" name="syringe_scan_state" value="0">
                    <input type="hidden" name="injection_info_state" value="0">
                    <input type="hidden" name="add_new_state" value="0">
                    <input type="hidden" name="syringe_diluent_state" value="0">
                    <hr>
                    <button type="submit" name="barcode_scan_state" style="float: right; background-color: #4CAF50;" value="1">下一步</button>
                </form>
                <button style="float:left; color: white; background-color: #f44336;" onclick="if(confirm('確認取消？')){window.location.href='{{ url_for('syringe_index') }}'}">取  消</button>
            </div>
        </div>

    {% elif request.cookies.get('syringe_diluent_value') == 'None' %} {# 輸入稀釋劑量 #}
        <div>
            <div class="tipicon">
                <h1 style="line-height: 20%;">
                    稀釋總量輸入
                    <sup><img style="font-size: 36px; width:1em;" src="/static/images/question_icon.png"></sup>
                </h1>
                <span class="tipicontext">
                    <font style="font-weight:bold;">稀釋總量輸入流程:</font>
                    <div style="margin-left: 1em;">
                        <ol>
                            <li>請在下方稀釋劑用量欄位輸入本次稀釋劑用量。 </li>
                            <li>若無需稀釋，請輸入"0"。 </li>
                            <li>將稀釋劑以輸入的量，注入藥瓶中。 </li>
                            <li>點擊頁面右下方<font style="background-color: #4CAF50">"下一步"</font>按鈕跳至下一功能。 </li>
                        </ol>
                    </div>
                </span>
            </div>
            <hr>
            <div>
                <table border=3>
                    <caption style="font-weight:bold;">當前藥劑資訊</caption>
                    <tr>
                        <th width=17% align="left" style="background-color: #D6EEEE;">條碼編號</th>
                        <td> {{ request.cookies.get('barcode_id') }} </td>
                    </tr>
                    <tr>
                        <th align="left" style="background-color: #D6EEEE;">藥劑名稱</th>
                        <td> {{ medicine_dict[request.cookies.get('barcode_id')][0] }} </td>
                    </tr>
                </table>
            </div>
            <hr>

            <div>
                <form method="post">
                    <font style="font-weight:bold;">請輸入本次稀釋劑用量：</font>
                    <p style="margin-left: 1em;">
                        稀釋劑用量: <input type="number" name="syringe_diluent_value" style="font-size:36px;" min="0.00" max="100.00" step="0.01" value="0"> /ml
                    </p>
                    <input type="hidden" name="barcode_scan_state" value="0">
                    <input type="hidden" name="injection_info_state" value="0">
                    <input type="hidden" name="add_new_state" value="0">
                    <hr>
                    <button type="submit" name="syringe_diluent_state" style="float: right; background-color: #4CAF50;" value="1">下一步</button>
                </form>
                <button style="float:left; color: white; background-color: #f44336;" onclick="if(confirm('確認取消？')){window.location.href='{{ url_for('syringe_index') }}'}">取  消</button>
            </div>
        </div>

    {% elif request.cookies.get('syringe_scale_value') == 'None' %} {# 注射針筒形式 #}
        <div>
            <div class="tipicon">
                <h1 style="line-height: 20%;">
                    注射總量辨識
                    <sup><img style="font-size: 36px; width:1em;" src="/static/images/question_icon.png"></sup>
                </h1>
                <span class="tipicontext">
                    <font style="font-weight:bold;">注射總量辨識流程:</font>
                    <div style="margin-left: 1em;">
                        <ol>
                            <li>請先選擇注射空針樣式。 </li>
                            <li>抽取藥劑。 </li>
                            <li>點擊頁面右下方<font style="background-color: #4CAF50">"下一步"</font>按鈕。 </li>
                            <li>前項操作完成後，會出現機器外觀圖示。 </li>
                            <li>找到機器，等待機器出現指示，將針筒放入機器辨識。 </li>
                        </ol>
                    </div>
                </span>
            </div>
            <hr>
            <div>
                <table border=3>
                    <caption style="font-weight:bold;">當前藥劑資訊</caption>
                    <tr>
                        <th width=17% align="left" style="background-color: #D6EEEE;">條碼編號</th>
                        <td> {{ request.cookies.get('barcode_id') }} </td>
                    </tr>
                    <tr>
                        <th align="left" style="background-color: #D6EEEE;">藥劑名稱</th>
                        <td> {{ medicine_dict[request.cookies.get('barcode_id')][0] }} </td>
                    </tr>
                    <tr>
                        <th align="left" style="background-color: #D6EEEE;">稀釋總量</th>
                        <td> {{ request.cookies.get('syringe_diluent_value') }} /ml </td>
                    </tr>
                </table>
            </div>
            <hr>

            <div>
                <form method="post" onsubmit="if($('select[name=syringe_type] option').filter(':selected').val()==''){alert('請選擇注射空針樣式!');return false;}">
                    <font style="font-weight:bold;">注射空針樣式:</font>
                    <select name="syringe_type" style="font-size:36px;">
                        <option value="">--請選擇您欲辨識之空針樣式--</option>
                        <option value="1 ml">1 ml</option>
                        <option value="3 ml">3 ml</option>
                        <option value="5 ml">5 ml</option>
                        <option value="10 ml">10 ml</option>
{#                        <option value="others">其他</option>#}
                    </select>
                    <input type="hidden" name="barcode_scan_state" value="0">
                    <input type="hidden" name="injection_info_state" value="0">
                    <input type="hidden" name="add_new_state" value="0">
                    <input type="hidden" name="syringe_diluent_state" value="0">
                    <hr>
{#                    *點擊<font style="background-color: #4CAF50">"下一步"</font>按鈕後開始辨識。#}
                    <img style="width:100%;" src="/static/images/HW_V2_with_syringe.png"><br>
                    <hr>
                    <button type="submit" name="syringe_scan_state" style="float: right; background-color: #4CAF50;" value="1">下一步</button>
                </form>
                <button style="float:left; color: white; background-color: #f44336;" onclick="if(confirm('確認取消？')){window.location.href='{{ url_for('syringe_index') }}'}">取  消</button>
            </div>
        </div>

    {% elif request.cookies.get('injection_info') == 'None' %} {# 選則施打部位 #}
        <div>
            <div class="tipicon">
                <h1 style="line-height: 20%;">
                    給藥途徑選擇
                    <sup><img style="font-size: 36px; width:1em;" src="/static/images/question_icon.png"></sup>
                </h1>
                <span class="tipicontext">
                    <font style="font-weight:bold;">給藥途徑選擇流程:</font>
                    <div style="margin-left: 1em;">
                        <ol>
                            <li>點選圖片中的勾選框來選給藥途徑。 </li>
                            <li>點擊頁面右下方<font style="background-color: #4CAF50">"下一步"</font>按鈕進入下一階段。 </li>
                        </ol>
                    </div>
                </span>
            </div>
            <hr>
            <div>
                <table border=3>
                    <caption style="font-weight:bold;">當前藥劑資訊</caption>
                    <tr>
                        <th width=17% align="left">條碼編號</th>
                        <td> {{ request.cookies.get('barcode_id') }} </td>
                    </tr>
                    <tr>
                        <th align="left">藥劑名稱</th>
                        <td> {{ medicine_dict[request.cookies.get('barcode_id')][0] }} </td>
                    </tr>
                    <tr>
                        <th align="left">稀釋總量</th>
                        <td> {{ request.cookies.get('syringe_diluent_value') }} ml</td>
                    </tr>
                    <tr>
                        <th align="left">施打總量</th>
                        <td> {{ request.cookies.get('syringe_scale_value') }} ml</td>
                    </tr>
                    <tr>
                        <th align="left">施打針具</th>
                        <td> {{ request.cookies.get('syringe_type') }} </td>
                    </tr>
                </table>
            </div><hr>
            <div>
                <div class="tab">
                    <button class="tablinks" id="BT_IV_IVD_IVP" onclick="tabSW(event, 'IV_IVD_IVP'); document.getElementById('radio_injection_info_site').checked=true;">IV、IVD、IVP 選項</button>
                    <button class="tablinks" id="BT_IM_SC_ID" onclick="tabSW(event, 'IM_SC_ID')">IM、SC、ID 選項</button>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function(event) {
                        document.getElementById("BT_IV_IVD_IVP").click();
                    });
                    function injection_info_onsubmit_check(){
                        var __iinjection_info_val = $('input[name=injection_info]:checked').val()
                        var __injection_info_site_val = $('input[name=injection_info_site]:checked').val()
                        if(typeof(__iinjection_info_val)=='undefined'){
                            alert('請選擇給藥途徑!');
                            return false;
                        }
                        else if(["IM", "SC", "ID"].includes(__iinjection_info_val) && __injection_info_site_val=="-"){
                            alert('您的注射部位尚未選擇!');
                            return false;
                        }
                        else{
                            return true;
                        }
                    }
                </script>
                <form method="post"  onsubmit="return injection_info_onsubmit_check();">
                    <div style="position:relative; width:100%;">
                        <div id="IV_IVD_IVP" class="tabcontent">
                            <img style="width:100%;" src="/static/images/IV_IVD_IVP.png">
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:40.7%; left:15.7%;" name="injection_info" value="加點滴袋內">
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:60.1%; left:14.1%;" name="injection_info" value="IVD">
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:38.3%; left:87.5%;" name="injection_info" value="IVP">
                            <input type="radio" style="display:none;" id="radio_injection_info_site" name="injection_info_site" value="-"> {# 點滴無須選擇 #}
                        </div>
                        <div id="IM_SC_ID" class="tabcontent">
                            <img style="width:100%;" src="/static/images/IM_SC_ID.png">
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:68.25%; left:21.50%;" name="injection_info" value="肌肉注射">
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:79.95%; left:21.25%;" name="injection_info" value="皮下注射">
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:92.20%; left:21.15%;" name="injection_info" value="皮內注射">
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:15.93%; left:26.60%;" name="injection_info_site" value="肩峰下三橫指"> {# 肩峰下三橫指 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:21.31%; left:25.69%;" name="injection_info_site" value="手肘"> {# 手肘 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:26.97%; left:26.15%;" name="injection_info_site" value="手背"> {# 手背 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:21.30%; left:33.35%;" name="injection_info_site" value="右上腹"> {# 右上腹 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:24.42%; left:33.28%;" name="injection_info_site" value="右下腹"> {# 右下腹 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:21.30%; left:38.50%;" name="injection_info_site" value="左上腹"> {# 左上腹 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:24.42%; left:38.50%;" name="injection_info_site" value="左下腹"> {# 左下腹 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:27.60%; left:39.90%;" name="injection_info_site" value="左前腿"> {# 左前腿 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:24.95%; left:61.50%;" name="injection_info_site" value="左上臀"> {# 左上臀 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:27.15%; left:61.50%;" name="injection_info_site" value="左下臀"> {# 左下臀 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:24.95%; left:64.85%;" name="injection_info_site" value="右上臀"> {# 右上臀 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:27.10%; left:64.71%;" name="injection_info_site" value="右下臀"> {# 右下臀 #}
                            <input type="radio" style="position: absolute; width:2.5%; height:2.5%; top:22.95%; left:69.60%;" name="injection_info_site" value="右前臂"> {# 右前臂 #}
                        </div>

                    </div><br><hr>
                    <input type="hidden" name="barcode_scan_state" value="0">
                    <input type="hidden" name="syringe_scan_state" value="0">
                    <input type="hidden" name="add_new_state" value="0">
                    <input type="hidden" name="syringe_diluent_state" value="0">
                    <button type="submit" name="injection_info_state" style="float: right; background-color: #4CAF50;" value="1">下一步</button>
                </form>
                <button style="float:left; color: white; background-color: #f44336;" onclick="if(confirm('確認取消？')){window.location.href='{{ url_for('syringe_index') }}'}">取  消</button>
            </div>
        </div>

    {% else %}
        <div>
            <h1 style="line-height: 20%;"> 藥劑新增確認</h1>
            <hr>
            <div>
                <table border=3>
                    <caption style="font-weight:bold;">當前藥劑資訊</caption>
                    <tr>
                        <th width=17% align="left">條碼編號</th>
                        <td> {{ request.cookies.get('barcode_id') }} </td>
                    </tr>
                    <tr>
                        <th align="left">藥劑名稱</th>
                        <td> {{ medicine_dict[request.cookies.get('barcode_id')][0] }} </td>
                    </tr>
                    <tr>
                        <th align="left">稀釋總量</th>
                        <td> {{ request.cookies.get('syringe_diluent_value') }} ml</td>
                    </tr>
                    <tr>
                        <th align="left">施打總量</th>
                        <td> {{ request.cookies.get('syringe_scale_value') }} ml</td>
                    </tr>
                    <tr>
                        <th align="left">施打針具</th>
                        <td> {{ request.cookies.get('syringe_type') }} </td>
                    </tr>
                    <tr>
                        <th align="left">給藥途徑</th>
                        <td> {{ request.cookies.get('injection_info') }} </td>
                    </tr>
                </table>
            </div><br>

            <form method="post">
                <input type="hidden" name="barcode_scan_state" value="0">
                <input type="hidden" name="injection_info_state" value="0">
                <input type="hidden" name="syringe_scan_state" value="0">
                <input type="hidden" name="syringe_diluent_state" value="0">
                <button type="submit" name="add_new_state" style="float: right; background-color: #4CAF50;" value="1">確認新增</button>
            </form>
            <button style="float:left; color: white; background-color: #f44336;" onclick="if(confirm('確認取消？')){window.location.href='{{ url_for('syringe_index') }}'}">取  消</button
        </div>
    {% endif %}



</body>